
@font-face {
	font-family: Montserrat-Regular;
	src: local(Montserrat-Regular), url(fonte/Montserrat-Regular.ttf)
  }

  @font-face {
	font-family: Montserrat-Bold;
	src: local(Montserrat-Bold), url(fonte/Montserrat-Bold.ttf)
  }

  @font-face {
	font-family: Montserrat-Medium;
	src: local(Montserrat-Medium), url(fonte/Montserrat-Medium.ttf)
  } 

  @media screen and (max-width: 600px) {

	.colunas, .menu {
		font-family: "Montserrat", sans-serif;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

  }

  @keyframes gradient {
	0% {
	  background-position: 0 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0 50%;
	}
  }
  

  *{
	font-family: Montserrat-Regular;
	margin: 0;
	padding: o;
	
  }


.fonte2{
	font-family: 'Montserrat-Bold';
}

.fonte3{
	font-family: 'Montserrat-Medium';
}


.logo {
	width: 150px;
  	height: 150px;
  	border-radius: 20px;  
  	margin: 2rem;
    
}

.gradient {
	animation: gradient ease 5s infinite;
	width: 100%;
	display: flex;
	justify-content: center;
	background: linear-gradient(-45deg, #a0b104, #d47853, #d8ac4e, #f3cb18)
	  no-repeat;
	background-size: 300% 300%;
	
	
  }

.flex-logo{
	display: flex;
	justify-content: center;
  }

	
  .menu-navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(247, 154, 2);
	
}


.menu-navbar .menu {
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    color: rgb(0, 0, 0);
    margin: 20px 0 20px;
    cursor: pointer;
	
	

}

.menu:hover {
    color: #ffff;
}

.banner__topo {
    height: 520%;
    width: 100%;
	
}

.banner__rodape {
    height: 400%;
    width: 100%;
}


.p{
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}


.linha{
	display: flex;
	display: inline;
    justify-items: auto;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;


	}


.colunas{
	    margin-left: 8%;
		margin-right: 8%;
		padding-right: 0;
		padding-left: 0;

	 }

.button {
	display: grid;
	grid-template-rows: row;
    background-color: #ff9a00; 
	padding: 2% 2%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: 'Montserrat-Bold';
	width: 100%;

  }

  .button-1{ 
    background-color: #ff9a00;
	padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;


}
.button-1:hover{
    background-color: #fa3d25;
    transform: scale(1.1);
    transition: all 0.5s;
}

  
.rodape { 
    height: 10%;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    color: #000;
	

}
