
@font-face {
	font-family: Montserrat-Regular;
	src: local(Montserrat-Regular), url(fonte/Montserrat-Regular.ttf)
  }

  @font-face {
	font-family: Montserrat-Bold;
	src: local(Montserrat-Bold), url(fonte/Montserrat-Bold.ttf)
  }

  @font-face {
	font-family: Montserrat-Medium;
	src: local(Montserrat-Medium), url(fonte/Montserrat-Medium.ttf)
  } 

  @media screen and (max-width: 600px) {

	.colunas, .menu {
		font-family: "Montserrat", sans-serif;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

  }

  @keyframes gradient {
	0% {
	  background-position: 0 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0 50%;
	}
  }
  

  *{
	font-family: Montserrat-Regular;
  }


.fonte2{
	font-family: 'Montserrat-Bold';
}

.fonte3{
	font-family: 'Montserrat-Medium';
}


.logo {
	width: 150px;
  	height: 150px;
  	border-radius: 20px;  
  	margin: 2rem;
    
}

.gradient {
	animation: gradient ease 5s infinite;
	width: 100%;
	display: flex;
	justify-content: center;
	background: linear-gradient(-45deg, #a0b104, #d47853, #d8ac4e, #f3cb18)
	  no-repeat;
	background-size: 300% 300%;
  }

.flex-logo{
	display: flex;
	justify-content: center;
  }

	
	nav{
		display: block;
		align-items: center;
		justify-content: space-around; 
		flex-wrap: wrap;
		background: #ff9a00;
		margin: auto;
		
	  }

	
	  .menu {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		padding: 30px;
		max-width: 100%;
		background: #ff9a00;	  
		font-size: 1.3rem; 
		list-style: none;
	  }


	  nav a:hover{
		background-color: #ff9a00;
		border-radius: 10px;
		color: azure;
		text-decoration: none;
		transition: 0.3s;
		font-size: 1.5rem;
		
	  }
	  

.banner__topo {
    height: 520%;
    width: 100%;
}

.banner__rodape {
    height: 400%;
    width: 100%;
}


.p{
	width: 100%;	
}


.linha{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	}


.colunas{
	    margin-left: 8%;
		margin-right: 8%;
		padding-right: 0;
		padding-left: 0;

	 }

.button {
	display: grid;
	grid-template-rows: auto;
    background-color: #ff9a00; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: 'Montserrat-Bold';

  }

  
.rodape { 
    height: 10%;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    color: #000;
	background-color:#ff9a00;

}

